<div class="ui middle aligned three column stackable grid container">

  <div class="two wide tablet four wide computer column"></div>

  <div class="twelve wide tablet eight wide computer column">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {  class: 'ui form' }) do |f| %>

      <h1 class="ui dividing header">Sign Up</h1>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <div class="inline field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <button class="ui button" type="submit">Sign Up</button>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

  <div class="two wide tablet four wide computer column"></div>

</div>
