<div class="ui container">

  <!-- banner -->
  <div class="cover-image padding" <%= render_bg_img(cocktail_image_path(@cocktail)) %>>
    <!-- bg underlay -->
    <div class="background-underlay cocktail-banner-img">
      <img src="<%= cocktail_image_path(@cocktail) %>">
    </div>
    <!-- banner content -->
    <div class="ui basic fluid segment">
      <div class="margin-top">
        <h1 class="ui center aligned inverted icon header">
          <i class="tiny circular inverted flask icon transform-sm"></i>
          <em>The Cocktail Lab</em>
        </h1>
      </div>
    </div>
  </div>

  <div class="cocktail-overlapping-header padding-left">
    <div class="img-sq-circle cocktail-avatar flex_static">
      <img src="<%= cocktail_image_path(@cocktail) %>" alt="<%= @cocktail.name %>">
    </div>
    <div class="flex_fluid margin-left">
      <div class="ui basic secondary segment">
        <h2 class="ui huge sub header"><%= @cocktail.name %></h2>
        <p class="description"><%= @cocktail.description %></p>
      </div>
    </div>
  </div>

  <!-- edit info -->
  <div class="ui basic red segment">
    <div class="ui styled red fluid accordion">
      <div class="active title">
        <i class="dropdown icon"></i>
        <span class="ui large sub header">Edit Info</span>
      </div>
      <div class="content">
        <div class="ui basic segment">
          <%= simple_form_for @cocktail, method: :patch, html: { id: 'cocktail-form', class: 'ui form' } do |f| %>
          <div class="ui two column stackable grid">
            <div class="column">
              <%= f.input :name, wrapper_html: { class: 'field' } %>
              <%= f.input :description, as: :text, wrapper_html: { class: 'field' } %>
            </div>
            <div class="column">
              <%= f.input :photo, as: :file, wrapper_html: { class: 'field flex_fluid' }, input_html: { id: 'cocktail_photo', class: 'image-upload-preview' } %>
              <%= f.input :photo_cache, as: :hidden %>
              <div class="flex-col-middle">
                <div id="cocktail_photo-preview" class="img-sq-sm-circle flex_static margin-all hide"> </div>
              </div>
            </div>
          </div>
          <div class="margin-top">
            <%= f.submit "Update", class: 'ui primary button' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- mix doses -->
  <div class="ui basic blue segment">
    <div class="ui styled fluid accordion">
      <div class="active title">
        <i class="dropdown icon"></i>
        <span class="ui large sub header">Mix</span>
      </div>
      <div class="active content">
        <form class="ui form">
          <div class="field">
            <label>Dose</label>
            <input type="text">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- edit instructions -->
  <div class="ui basic green segment">
    <div class="ui styled fluid accordion">
      <div class="active title">
        <i class="dropdown icon"></i>
        <span class="ui large sub header">Instructions</span>
      </div>
      <div class="active content">
        <%= simple_form_for @cocktail, method: :patch, html: { class: 'ui form' } do |f| %>
          <%= f.input :instructions, as: :text, wrapper_html: { class: 'field', rows: 5, placeholder: 'Write instructions here' }, label_html: { class: 'sr-only' } %>
          <div class="margin-top">
            <%= f.submit "Update", class: 'ui primary button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
