<div class="ui container">

  <!-- banner -->
  <div class="cover-image padding" <%= render_bg_img(cocktail_image_path(@cocktail)) %>>
    <!-- bg underlay -->
    <div class="background-underlay cocktail-banner-img">
      <img src="<%= cocktail_image_path(@cocktail) %>">
    </div>
    <!-- banner content -->
    <div class="ui basic fluid segment">
      <div class="margin-top">
        <h1 class="ui center aligned inverted icon header">
          <i class="tiny circular inverted flask icon transform-sm"></i>
          <em>The Cocktail Lab</em>
        </h1>
      </div>
    </div>
  </div>

  <!-- header -->

  <div class="cocktail-overlapping-header padding-left">
    <div class="img-sq-circle cocktail-avatar flex_static">
      <img src="<%= cocktail_image_path(@cocktail) %>" alt="<%= @cocktail.name %>">
    </div>
    <div class="flex_fluid margin-left">
      <div class="ui basic secondary segment">
        <h2 class="ui huge sub header"><%= @cocktail.name %></h2>
        <p class="description"><%= @cocktail.description %></p>
      </div>
    </div>
  </div>

  <!-- errors -->

  <% if flash[:errors] && !flash[:errors].empty? %>
    <div class="ui error message">
      <i class="close icon"></i>
      <div class="header">There were some errors</div>
      <ui class="list">
        <% flash[:errors].full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ui>
    </div>
  <% end %>

  <!-- edit content -->

  <div class="ui raised segment">

    <!-- info -->
    <div class="ui fluid accordion">

      <div class="active title">
        <div class="ui red ribbon label">
          <i class="dropdown icon"></i>
          Cocktail Profile
        </div>
      </div>

      <div class="content">
        <div class="ui basic segment">
          <%= simple_form_for @cocktail, method: :patch, html: { id: 'cocktail-form', class: 'ui form' } do |f| %>
            <div class="ui two column stackable grid">
              <div class="column">
                <%= f.input :name, wrapper_html: { class: 'field' } %>
                <%= f.input :description, as: :text, wrapper_html: { class: 'field' }, input_html: { rows: 3, placeholder: 'Write a brief description...' } %>
              </div>
              <div class="column">
                <%= f.input :photo, as: :file, wrapper_html: { class: 'field flex_fluid' }, input_html: { id: 'cocktail_photo', class: 'image-upload-preview' } %>
                <%= f.input :photo_cache, as: :hidden %>
                <div class="flex-col-middle">
                  <div id="cocktail_photo-preview" class="img-sq-sm-circle flex_static margin-all hide"> </div>
                </div>
              </div>
            </div>
            <div class="margin-top">
              <%= f.submit "Update", class: 'ui primary button' %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <!-- mix doses -->
    <div class="ui fluid accordion">

      <div class="active title">
        <div class="ui blue ribbon label">
          <i class="dropdown icon"></i>
          Mixology
        </div>
      </div>

      <div class="active content">
        <div class="ui basic segment">

          <div id="dose-list" class="ui segment">
            <div class="ui top attached label">Dosage</div>
            <% if @cocktail.doses.empty? %>
              <p>No doses yet. Add a dose below.</p>
            <% else %>
              <% @cocktail.doses.each do |dose| %>
                <%= render partial: 'shared/dose_chip', locals: { dose: dose } %>
              <% end %>
            <% end %>
          </div>
          <!-- dose form -->
          <div class="ui segment">
            <div class="ui top attached label">New Dose</div>
            <%= simple_form_for [@cocktail, @dose], html: { id: 'dose-form', class: 'ui form'} do |f| %>
              <!-- form inputs -->
              <div class="two fields">
                <!-- ingredient input -->
                <div class="field">
                  <label for="ingredient">Ingredient</label>
                  <input name="ingredient" type="text">
                </div>
                <!-- amount, measurement input -->
                <div class="field">
                  <div class="flex-row">
                    <!-- amount -->
                    <div class="flexchild-even">
                      <%= f.input :amount, wrapper_html: { class: 'field' } %>
                    </div>
                    <!-- measurement -->
                    <div class="flexchild-even margin-left">
                      <div class="field">
                        <label for="dose_measurement_id">Measurement</label>
                        <select name="dose[measurement_id]" class="ui search dropdown">
                          <% @measurements.each do |m|  %>
                            <option value="<%= m.id %>"><%= m.name %><%= " (#{m.abbrev})" if m.abbrev %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- form submit -->
              <%= button_tag type: 'submit', class: 'ui basic primary compact icon button' do %>
                <i class="add icon"></i>
                Add Dose
              <% end %>
            <% end %> <!-- /simple_form -->
          </div>

        </div>
      </div> <!-- /accordion content -->

    </div>

  <!-- edit instructions -->
    <div class="ui fluid accordion">

      <div class="active title">
        <div class="ui green ribbon label">
          <i class="dropdown icon"></i>
          Mixing Instructions
        </div>
      </div>

      <div class="active content">
        <div class="ui basic segment">
          <%= simple_form_for @cocktail, method: :patch, html: { class: 'ui form' } do |f| %>
          <%= f.input :instructions, as: :text, wrapper_html: { class: 'field' }, input_html: { rows: 8, placeholder: 'How do you mix the cocktail?' }, label_html: { class: 'sr-only' } %>
          <div class="margin-top">
            <%= f.submit "Update", class: 'ui primary button' %>
          </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>  <!-- /edit content segment -->

</div>
