<h1 class="sr-only">Cocktails</h1>
<%= render partial: 'shared/site_banner', locals: { header: 'Cocktails' } %>
<div class="ui container">

    <!-- header -->
    <div class="ui secondary segment force--up flex-colrev-divide-middle margin-top margin-x flex-response--tablet_row">

      <div class="fill-width flex_grow margin-x margin-bot">
        <%= render partial: 'shared/search_bar', locals: { action: cocktails_path, classes: 'fill-width', placeholder: 'Search cocktails...' } %>
      </div>

      <!-- actions right floated -->
      <div class="cocktail-index-actions">
        <div class="ui horizontal labeled icon menu">
          <!--
          <%= link_to '#', class: 'item' do %>
          <i class="grey filter icon"></i>
          Filter
          <% end %>
          -->

          <%= link_to remix_cocktails_path, class: 'item' do %>
          <i class="purple icon">
            <i class="icons">
              <i class="flask icon"></i>
              <i class="top right corner shuffle icon"></i>
            </i>
          </i>
          Remix
          <% end %>

          <%= link_to new_cocktail_path, class: 'item' do %>
          <i class="yellow icon">
            <i class="icons">
              <i class="flask icon"></i>
              <i class="top right corner add icon"></i>
            </i>
          </i>
          Create
          <% end %>
        </div> <!-- /menu -->
      </div> <!-- /actions -->
    </div> <!-- /header -->

    <!-- search results -->
    <% if @search_results %>
      <h2 id="<%= @search_id %>-top" class="ui center aligned horizontal divider header">
        <div class="sub header">Search results for "<strong><em><%= @search_query %></em></strong>"</div>
      </h2>
      <div class="margin-x margin-bot padding-bot">
        <% if @search_results.any? %>
          <%= render partial: 'shared/cocktail_list', locals: { id: @search_id, cocktails: @search_results } %>
          <%= render partial: 'shared/pagination_menu', locals: { id: @search_id + "-pagination", items: @search_results, param_name: :search_page } %>
        <% else %>
          <div class="ui warning message">
            <span class="flex-center-middle inline margin-right">
              <i class="circular exclamation icon"></i>
            </span>
            <span>No results found for "<em><%= @search_query %></em>"</span>
          </div>
        <% end %>
      </div>
    <% end %>


    <!-- user associated cocktails -->
    <% if @marked_cocktails && @user_cocktails %>
    <div class="margin-y">
      <div class="ui stackable grid">
        <div class="ten wide column margin-none">
    <% end %>

      <!-- marked cocktails -->
      <% if @marked_cocktails %>
        <div class="ui basic yellow segment">
          <%= render partial: 'shared/section_header', locals: { text: 'Saved Cocktails', as: 'h2', attached: true } %>
        </div>
        <%= render partial: 'shared/cocktail_list_compact', locals: { cocktails: @marked_cocktails, header_size: 'md', description: true, description_size: 'md' } %>
      <% end %>

      <% if @marked_cocktails && @user_cocktails %>
        </div>
        <div class="six wide column margin-none">
      <% end %>

      <!-- user's cocktail recipes -->
      <% if @user_cocktails %>
        <div class="ui basic purple segment">
          <%= render partial: 'shared/section_header', locals: { text: 'Your Recipes', as: 'h2', attached: true } %>
        </div>
        <%= render partial: 'shared/cocktail_list_compact', locals: { cocktails: @user_cocktails, header_size: 'sm', description: true, description_size: 'sm' } %>
      <% end %>

    <% if @marked_cocktails && @user_cocktails %>
        </div>
      </div>
    </div>
    <% end %>

    <!-- classic -->
    <div class="margin-y">
      <div class="ui basic secondary segment">
        <%= render partial: 'shared/section_header', locals: { text: 'Classic Collection', as: 'h2', dividing: true } %>
        <%= render partial: 'shared/cocktail_badge_list', locals: { cocktails: @classic } %>
      </div>
    </div>

    <!-- custom -->
    <div id="<%= @custom_id %>-top" class="ui basic orange segment">
      <%= render partial: 'shared/section_header', locals: { text: 'Community Creations', as: 'h2', attached: true } %>
      <%= render partial: 'shared/cocktail_cards', locals: { id: @custom_id, cocktails: @custom } %>
      <%= render partial: 'shared/pagination_menu', locals: { id: @custom_id + "-pagination", items: @custom, param_name: :custom_page } %>
    </div>

</div>
