<div class="ui container padding-top">

    <!-- header -->
    <div class="flex-row-divide-middle margin-top">

      <!-- headertext -->
      <div class="flex_grow">
        <h1 class="ui left aligned block header">
          Cocktails
        </h1>
      </div> <!-- /headertext -->

      <!-- actions right floated -->
      <div class="ui right floated two column horizontal labeled icon menu">
        <%= link_to '#', class: 'item' do %>
          <i class="grey filter icon"></i>
          Filter
        <% end %>

        <%= link_to remix_cocktails_path, class: 'item' do %>
          <i class="purple icon">
            <i class="icons">
              <i class="flask icon"></i>
              <i class="top right corner shuffle icon"></i>
            </i>
          </i>
          Remix
        <% end %>

        <%= link_to new_cocktail_path, class: 'item' do %>
          <i class="yellow icon">
            <i class="icons">
              <i class="flask icon"></i>
              <i class="top right corner add icon"></i>
            </i>
          </i>
          Create
        <% end %>
      </div> <!-- /actions -->
    </div> <!-- /header -->

    <!-- classic -->
    <h2 class="ui center aligned horizontal divider header">
      <div class="sub header">Classic Collection</div>
    </h2>
    <%= render partial: 'shared/cocktail_badge_list', locals: { cocktails: @cocktails.select { |c| c.user == nil } } %>

    <% if user_signed_in? %>
      <!-- user's cocktail recipes -->
      <% if current_user.cocktails.any? %>
        <h2 class="ui center aligned horizontal divider header">
          <div class="sub header">Your Recipes</div>
        </h2>
        <%= render partial: 'shared/cocktail_list', locals: { cocktails: current_user.cocktails } %>
      <% end %>

      <!-- marked cocktails -->
      <% if current_user.marked.any? %>
        <h2 class="ui center aligned horizontal divider header">
          <div class="sub header">Saved Cocktails</div>
        </h2>
        <%= render partial: 'shared/cocktail_list', locals: { cocktails: current_user.marked } %>
      <% end %>

    <% end %>

    <!-- custom -->
    <h2 class="ui center aligned horizontal divider header">
      <div class="sub header">Community Creations</div>
    </h2>
    <%= render partial: 'shared/cocktail_cards', locals: { cocktails: @cocktails.select { |c| c.user != nil } } %>

</div>
