<div class="ui container">

  <div class="ui fluid basic clearing segment">

    <!-- header -->

    <div class="flex-row-head-end padding">
      <div class="img-sq-md-circle margin-right">
        <img src="<%= cl_image_path(@cocktail.photo || 'cocktail.jpg') %>" alt="<%= @cocktail.name %>">
      </div>
      <div class="ui basic segment">
        <h2 class="ui huge header margin-left">
          <%= @cocktail.name || 'Unnamed Cocktail' %>
          <div class="sub header">
            <%= @cocktail.user ? @cocktail.user.name : ''  %>
          </div>
        </h2>
      </div>
    </div>

    <!-- content -->

      <div class="ui divider"></div>
      <div class="ui fluid basic segment">
        <%= @cocktail.description %>
      </div>
      <div class="ui right floated segment">
        <h3 class="ui header">Ingredients</h3>
        <div class="ui placeholder">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <h3 class="ui horizontal divider header">Instructions</h3>
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
      </div>

  </div>

</div>
