<div class="ui container">

    <!-- header -->

    <div class="flex-row-head-end padding cover-image">
      <div class="background-underlay-blur">
        <img src="<%= cocktail_image_path(@cocktail) %>" alt="">
      </div>
      <!-- cocktail photo -->
      <div class="img-sq-md-circle margin-right flex_static">
        <img src="<%= cocktail_image_path(@cocktail) %>" alt="<%= @cocktail.name %>">
      </div>
      <!-- cocktail name, creator -->
      <div class="ui basic segment flex_fluid">
        <h2 class="ui huge inverted header margin-left">
          <%= @cocktail.name || 'Unnamed Cocktail' %>
          <div class="sub header">
            <%= cocktail_creator(@cocktail) %>
          </div>
        </h2>
      </div>
      <!-- actions -->
      <div class="ui vertical labeled icon menu flex_static">
        <!-- like -->
        <%= link_to "/cocktails/#{@cocktail.id}/mark", class: 'item' do %>
          <i class="grey bookmark outline icon"></i>
          Save
        <% end %>
        <!-- remix cocktail -->
        <%= link_to "/cocktails/#{@cocktail.id}/remix", class: 'item' do %>
          <i class="purple icon">
            <i class="icons">
              <i class="flask icon"></i>
              <i class="top right corner inverted random icon"></i>
            </i>
          </i>
          Remix
        <% end %>
        <!-- edit cocktail -->
        <% if current_user && current_user == @cocktail.user %>
          <%= link_to edit_cocktail_path(@cocktail), class: 'item' do %>
            <i class="orange icon">
              <i class="icons">
                <i class="flask icon"></i>
                <i class="top right corner inverted edit icon"></i>
              </i>
            </i>
            Lab
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- content -->

      <div class="ui fluid basic segment">
        <%= @cocktail.description %>
      </div>
      <div class="ui right floated segment">
        <h3 class="ui header">Ingredients</h3>
        <div class="ui placeholder">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <h3 class="ui horizontal divider header">Instructions</h3>
      <div class="ui placeholder">
        <div class="line"></div>
        <div class="line"></div>
      </div>

</div>
