<div class="ui container">

  <!-- header -->

  <div class="flex-row-divide-end padding-all cover-image">
    <!-- underlay -->
    <div class="background-underlay cocktail-banner-img">
      <img src="<%= cocktail_image_path(@cocktail) %>">
    </div>

    <!-- cocktail photo -->
    <div class="img-sq-circle cocktail-avatar margin-right flex_static mobile hidden">
      <img src="<%= cocktail_image_path(@cocktail) %>" alt="<%= @cocktail.name %>">
    </div>
    <!-- cocktail name, creator -->
    <div class="ui basic segment flex_fluid">
      <h1 class="ui huge inverted header margin-left">
        <%= @cocktail.name || 'Unnamed Cocktail' %>
        <div class="sub header">
          <%= cocktail_creator(@cocktail) %>
        </div>
      </h1>
    </div>

    <!-- actions -->
    <div class="ui vertical labeled icon menu flex_static">
      <!-- like -->
      <%= link_to mark_cocktail_path, id: 'mark-link', class: 'item' do %>
        <% saved = user_signed_in? && current_user.marked.include?(@cocktail) %>
        <i class="<%= saved ? 'yellow bookmark' : 'grey bookmark outline' %> icon"></i>
        <span>Save<%= saved ? 'd' : '' %></span>
      <% end %>
      <!-- remix cocktail -->
      <%= link_to remix_cocktail_path(@cocktail), method: :post, class: 'item' do %>
        <i class="purple icon">
          <i class="icons">
            <i class="flask icon"></i>
            <i class="top right corner random icon"></i>
          </i>
        </i>
        Remix
      <% end %>
      <!-- edit cocktail -->
      <% if current_user && current_user == @cocktail.user %>
        <%= link_to edit_cocktail_path(@cocktail), class: 'item' do %>
          <i class="orange icon">
            <i class="icons">
              <i class="flask icon"></i>
              <i class="top right corner edit icon"></i>
            </i>
          </i>
          Lab
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- content -->

  <div class="margin-x">

    <!-- description -->
    <div class="ui basic segment">
      <div class="ui raised purple segment">
        <p><%= @cocktail.description %></p>
      </div>
    </div>

    <!-- main content grid -->
    <div class="ui tablet reversed computer reversed stackable grid">

      <div class="five wide column">
        <div class="ui basic orange secondary segment">
          <h3 class="ui dividing header">Ingredients</h3>
          <div class="margin-left margin-bot">
            <% if @cocktail.doses.empty? %>
            <div>Nothing here yet!</div>
            <% else %>
            <ul class="ui list">
              <% @cocktail.doses.each do |dose| %>
              <li class="item">
                <%= stringify_dose_amount(dose, true) %>
                <%= dose.measurement ? ' of ' : ' ' %>
                <strong><%= dose.ingredient.name %></strong>
              </li>
              <% end %>
            </ul>
            <% end %>
          </div>
        </div>
      </div>

      <div class="eleven wide column">
        <div class="ui basic segment">
          <h3 class="ui horizontal divider header">Instructions</h3>
          <pre><%= @cocktail.instructions || "No instructions yet." %></pre>
        </div>
      </div>

    </div>
    <!-- /main content grid -->

    <!-- reviews -->
    <div class="ui divider"></div>

    <!-- review form -->
    <% if user_signed_in? %>
      <% if @cocktail.reviewers.include? current_user %>
        <!-- do not allow new review if user already reviewed -->
        <div class="ui yellow message">
          <span class="flex-center-middle inline margin-right">
            <i class="circular exclamation icon"></i>
          </span>
          <span>You have already reviewed this cocktail. <%= link_to "Click here", edit_cocktail_review_path(@cocktail, @review) %> to edit your review</span>
        </div>
      <% else %>
        <%= render partial: 'shared/review_form', locals: { title: 'Write a review', method: :post, cocktail: @cocktail, review: @review } %>
      <% end %>
    <% else %>
      <!-- not logged in options -->
      <div class="ui yellow message">
        <span class="flex-center-middle inline margin-right">
          <i class="circular exclamation icon"></i>
        </span>
        <span>
          <%= link_to "Login", new_user_session_path %>
          or
          <%= link_to "Sign Up", new_user_registration_path %>
          to post a review.
        </span>
      </div>
    <% end %>

    <!-- all reviews -->
    <div class="ui basic segment">
      <div id="review-list" class="ui very relaxed divided icon list">
        <% @cocktail.reviews.each do |r| %>
          <%= render partial: 'shared/review', locals: { review: r }  %>
        <% end %>
      </div>
    </div>

  </div> <!-- content -->

</div>
