<div class="ui relaxed middle aligned unstackable items cocktail-list padding-x">
  <% cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'item' do %>
      <div class="img-sq-xs-circle cocktail-avatar-size margin-right">
        <img src="<%= cocktail_image_path(cocktail) %>" alt="<%= cocktail.name %>">
      </div>
      <div class="content">
        <h4 class="header">
          [<%= cocktail.id %>] <%= cocktail.name %>
        </h4>
        <div class="meta">
          <%= cocktail_creator(cocktail) %>
        </div>
        <div class="description">
          <p><%= cocktail.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
