<div class="ui relaxed middle aligned unstackable selection list">
  <% cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'item' do %>
      <img src="<%= cocktail.image_path %>" class="ui avatar image">
      <div class="content attach-relative">
        <div class="header text-briefline--<%= local_assigns[:header_size] ||= 'md' %>"><%= cocktail.name %></div>
        <%= render partial: 'shared/cocktail_meta', locals: { cocktail: cocktail } %>
        <% if local_assigns[:description] %>
          <div class="description text-briefline--<%= local_assigns[:description_size] ||= 'md' %>"><%= cocktail.description %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
