<% anchor_tag = local_assigns[:anchors] && anchors == true && cocktail.user != nil ? 'a' : 'span' %>

<div class="meta" style="padding-top: .5rem">
  <% if cocktail.reviews.any? %>
    <span>
      <%= cocktail.rating %>
      <i class="star icon"></i>
    </span>
  <% end %>
  <<%= anchor_tag %> href="<%= cocktail.user ? user_path(cocktail.user) : '#' %>">
    <div class='ui label'>
      @<%= cocktail.creator %>
    </div>
  </<%= anchor_tag %>>
  <% if local_assigns[:show_reviews] %>
    <span>
      <%= cocktail.reviews.any? ? cocktail.reviews.count : '0' %> review<%= 's' if cocktail.reviews.count != 1 %>
    </span>
  <% end %>
  <% if current_user == cocktail.user && !cocktail.published %>
    <span>(Private)</span>
  <% end %>
</div>
