<div class="ui relaxed middle aligned unstackable items cocktail-list">
  <% cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'item' do %>
      <img src="<%= cl_image_path(cocktail.remote_image_path ? cocktail.remote_image_path : ENV['DEFAULT_IMAGE_PATH']) %>" alt="<%= cocktail.name %>" class="ui circular image">
      <div class="content">
        <h4 class="header">
          <%= cocktail.name %>
        </h4>
        <div class="meta">
          <%= cocktail.user != nil ? "Created by #{cocktail.user.name}" : "No creator" %>
        </div>
        <div class="description">
          <p><%= cocktail.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
