<div <%= "id=#{id}" if local_assigns[:id] %> class="ui relaxed middle aligned unstackable selection items list cocktail-list">
  <% cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'item' do %>
      <%= render partial: 'shared/cocktail_avatar', locals: { cocktail: cocktail } %>
      <div class="content">
        <h4 class="header"><%= cocktail.name %></h4>
        <%= render partial: 'shared/cocktail_meta', locals: { cocktail: cocktail, show_reviews: true } %>
        <div class="description">
          <p><%= cocktail.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
