<div class="ui relaxed middle aligned unstackable items cocktail-list padding-x">
  <% cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'item' do %>
      <%= render partial: 'shared/cocktail_avatar', locals: { cocktail: cocktail } %>
      <div class="content">
        <h4 class="header">
          [<%= cocktail.id %>] <%= cocktail.name %>
        </h4>
        <div class="meta">
          <%= cocktail.creator %>
        </div>
        <div class="description">
          <p><%= cocktail.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
