<div <%= "id=#{id}" if local_assigns[:id] %> class="ui doubling stackable center aligned four cards padding-x cocktail-cards">

  <% cocktails.each do |cocktail| %>
  <div class="card">
    <a class="image hover--zoom" href="<%= cocktail_path(cocktail) %>">
      <img src="<%= cocktail.image_path %>" alt="<%= cocktail.name %>">
    </a>
    <div class="content">
      <a href="<%= cocktail_path(cocktail) %>"class="header">
        <%= cocktail.name %>
      </a>
      <%= render partial: 'shared/cocktail_meta', locals: { cocktail: cocktail, anchors: true, show_reviews: true, show_marks: true } %>
      <div class="margin-top">
        <p class="color-reset">
          <%= cocktail.description.length > 99 ? cocktail.description[0...99] + '...' : cocktail.description %>
        </p>
      </div>
    </div>
  </div>
  <% end %>

</div>
