<div id="navbar" class="ui menu">
  <div class="ui container">

    <div id="navbar-nav-actions" class="left menu" style="flex-grow: 1">

      <!-- brand -->
      <%= link_to root_path, class: 'item' do %>
        <img src="<%= image_path('favicon/favicon.ico') %>" alt="Cocktail Craft">
      <% end %>

      <!-- left menu -->
      <%= link_to "Cocktails", cocktails_path, class: "#{'active ' if controller_name == 'cocktails'}item mobile hidden" %>
      <div class='item' style="flex-grow:1">
        <%= render partial: 'shared/search_bar', locals: { action: search_path, param: :query, transparent: true } %>
      </div>
    </div>

    <!-- right menu options -->
    <!-- mobile only -->
    <div id="navbar-auth-actions" class="right menu mobile only">
      <div class='ui dropdown item'>
        <i class='bars icon'></i>
        <!-- dropdown content -->
        <div class='menu' style="right:0;left:auto">
          <%= link_to 'Cocktails', cocktails_path, class: 'item' %>
          <%= link_to 'Create', new_cocktail_path, class: 'item' %>
          <div class='ui divider'></div>
          <%= render partial: 'shared/user_menu' %>
        </div>
      </div>
    </div>
    <!-- not mobile -->
    <div id="navbar-auth-actions" class="right menu mobile hidden">
      <%= render partial: 'shared/user_menu' %>
    </div>

  </div>
</div>
