<!DOCTYPE html>
<html>
  <head>
    <title>Creative Cocktails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui container" style="padding-top: 1rem;">
      <%= yield %>
      <%= render "layouts/notifications" %>
    </div>

  </body>
</html>
