<!DOCTYPE html>
<html>
  <head>
    <title>Creative Cocktails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="navbar-offset-margin">

    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/notifications" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
