<!DOCTYPE html>
<html>
  <head>
    <title>Creative Cocktails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: :psjs, action: action_name, controller: controller_name %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/favicon' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="navbar-offset-margin">

    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/notifications" %>

  </body>
</html>
