<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail Craft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: :psjs, action: action_name, controller: controller_name %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/favicon' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main>
      <%= render "layouts/navbar" %>
      <%= yield %>
      <%= render "shared/notifications" %>
    </main>

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
